/* reset */
body,
a,
ul,
li,
button {
  margin: inherit;
  padding: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
ul,
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
}

/* layout */
.l_wrapper {
  width: calc(100% - 320px);
  box-shadow: inset 0 0 10px;
  margin: 0 auto;
}
/* // layout */

/* header */
header {
  width: calc(100% - 640px);
  height: 102px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 10px red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo img {
  width: 130px;
}

.navbar {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 400;
}

.download {
  height: 50px;
  width: 140px;
  color: #fff;
  background-color: #d97652;
  border-radius: 40px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 16px;
}

/* section1 */
.section1 {
  height: 900px;
  background-color: #f2e9d8;
  padding-top: 130px;
  box-sizing: border-box;
}
